<section class="hero-section" id="hero">
  <div class="hero-overlay"></div>
  <div class="hero-content">
   
    <div class="title-container">
 
      <h1 class="hero-heading">
        <span class="hero-preheading">Welcome to</span>
        The Traditional Methodist Church
      </h1>
          {{svg-jar "tmc-logo" class="tmc-logo"}}
    </div>

    <p class="hero-text">Saved by Grace alone; Through Faith alone; According to the Scriptures alone; For the Glory of God alone.</p>
    <button class="cta-primary" {{on "click" this.scrollToLocations}}>
      Join Our Worship
      <span class="cta-arrow">→</span>
    </button>
  </div>
</section>